/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 15px; // For consistent padding
$grey: #97999b; 
$blue: #002649; 
$red: #CE1126; 
$width: 650px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
$font-color: #111111; // Default font color

// Typography
// -------

$body-font-family:          "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font-weight:          400 !default;
$body-font-size:            14px !default;
$body-font-color:           #555 !default;
$body-line-height:          1.6 !default;

// Notices
// -------

$notice-color-info:         #3d88ce !default;
$notice-color-success:      #81ad22 !default;
$notice-color-warning:      #c6a121 !default;
$notice-color-danger:       #be2c2c !default;

$notice-border-radius:      6px !default;
$notice-font-size:          $body-font-size !default;
$notice-font-weight:        $body-font-weight !default;
$notice-line-height:        $body-line-height !default;
$notice-padding:            8px 12px !default;
$notice-margin:             10px 0 !default;

// Dividers
// --------

$divider-margin:			20px 0 !default;
$divider-color:				#ccc !default;
