---
layout: default.hbs
subject: Branded transaction email example
---
<table class="main" cellspacing="0" cellpadding="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            [% layout id="2" data-row-id="1" data-e2ma-style='{"Template":{"background-color":"transparent","border-left-style":"solid","border-left-width":0,"border-right-style":"solid","border-right-width":0}}' %]
            [% row name="top" %][%/ row %]
            [% row name="bottom" %][%/ row %]
            [% flexible name="primary" %][%/ flexible %]
            [%/ layout %]
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper" bgcolor="#0066cc" style="background-color: #0066cc;">
      <table class="schedule" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <h2>Match Schedule</h2>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/664b13886e01130dc343062dbc59a11a/1-alabama-michigan.png" alt="Alabama vs Michigan (Mens) - Saturday January 21 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0; text-align: center;"><center>
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Alabama</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Michigan</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Saturday, January 21</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td style="Text-align: center;"><center>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="color: #002749; text-align: center; color: #ce1127; font-size: 16px; line-height: 30px;">Men's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/e162573b2ca4d8ae788e7981dff2e833/2-unc-tt.png" alt="University of North Carolina vs Texas Tech (Womens) - Friday February 3 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0; text-align: center;"><center>
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">UNC</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Texas Tech</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Friday, February 3</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td style="text-align: center;"><center>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">Women's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/fa9993e47049f80614012c3f94fa5e3d/3-osu-stanford.png" alt="Oklahoma State vs Stanford (Womens) - Friday February 17 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0; text-align: center;"><center>
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Oklahoma State</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Stanford</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Friday, February 17</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td style="text-align: center;"><center>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">Women's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                </table></center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/cb6f9545461000391de437d3d17d18ae/4-ucf-penn.png" alt="University of Central Florida vs Penn State (Mens) - Wednesday March 8 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0; text-align: center;">
                  <center>
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">UCF</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Penn State</td>
                    </tr>
                  </table>
                </center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Wednesday, March 8</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td style="text-align: center;"><center>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="color: #002749; text-align: center; color: #ce1127; font-size: 16px; line-height: 30px;">Men's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                  </table>
                </center>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/bbfa44df8cccde865a25ec1e39429629/5-uf-fsu.png" alt="University of Florida vs Florida State University (Mens) - Friday March 10 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0;">
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">UF</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Florida State</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Friday, March 10</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #ce1127; font-size: 16px; line-height: 30px;">Men's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td>
                  <img src="https://s3.amazonaws.com/emma-assets/hugcb/3b64c5e14fde729ecd76c3b0949ba54b/6-ohio-uf.png" alt="Ohio State vs UF (Womens) - Tuesday March 14 at 6PM">
                </td>
              </tr>
              <tr>
                <td style="padding: 0 0 20px 0;">
                  <table width="100%">
                    <tr>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Ohio State</td>
                      <td width="50%" style="text-align: center; color: #002749; font-size: 16px; line-height: 30px;">Florida</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; color: #002749;">
                  <h2 style="color: #002749; font-weight: 300;">Tuesday, March 14</h2>
                  <hr width="80%" color="#eee" height="1">
                </td>
              </tr>
              <tr>
                <td>
                  <table width="80%">
                    <tr>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">Women's</td>
                      <td width="50%" style="color: #002749; text-align: center; font-size: 16px; line-height: 30px;">6:00PM</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding: 30px 0 40px 0;">
                  <div><!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:50px;v-text-anchor:middle;width:250px;" stroke="f" fillcolor="#ce1127">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="http://"
                  style="background-color:#ce1127;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">RSVP</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                  <![endif]--></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper" bgcolor="#000000" style="background-color: #000000;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <img src="https://s3.amazonaws.com/emma-assets/0in/8e3b3a02ee3644e63bc1acadf29266c2/Can_t_Match.png" alt="Watch Live on ESPN3">
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>RSVP IS REQUIRED PER ATTENDEE. LIMIT OF FIVE TICKETS PER RSVP. FOR ENTRY INTO THE EVENT, PLEASE PRESENT THE RSVP CONFIRMATION EMAIL. COMPLIMENTARY PARKING IS INCLUDED. INVITATION IS NONTRANSFERABLE.</p>
        <p>Questions? Feel free to email <a href="mailto:collegiate@usta.com">Collegiate@USTA.com</a> for event and press inquiries.</p>
      </td>
    </tr>
  </table>
</div>
