<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <div style="background-color:#002649;">
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td valign="top" align="left" background="http://i.imgur.com/O2okSkO.jpg">
          <table class="body">
            <tr>
              <td></td>
              <td class="container">
                <div class="content">{{ body }}</div>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
          <td align="center" valign="top" bgcolor="#ffff33" class="e2ma-unsubscribe">
            <table class="body">
              <tr>
                <td></td>
                <td class="container">
                  <div class="content">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                        <td align="left" valign="top" style="font-family:Helvetica, Arial, sans-serif; color:#BDBD25; font-size:11px; line-height:1.8; text-align:left; padding:20px 0px;" class="center"><a href="[% manage_url %]" style="color: #BDBD25; text-decoration:none;"><strong>Manage</strong></a> your preferences | <a href="[% unsub_url %]" style="color: #BDBD25; text-decoration:none;"><strong>Opt out</strong></a> using <strong>TrueRemove&reg;</strong><br>
                            Got this as a forward? <a href="[% signup_url %]" style="color:#BDBD25; text-decoration:none;"><strong>Sign up</strong></a> to receive our future emails.<br>
        View this email <a href="[% webview_url %]" style="color:#BDBD25; text-decoration:none;"><strong>online</strong></a>.
                      </td>
                    </tr>
                        <tr>
                            <td align="left" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:1.5; text-align:left;" class="footer-text">
                            <a href="#" style="color:#BDBD25; text-decoration:none; pointer-events:none;">[% account_rsvp_address_1 %] [% account_rsvp_address_2 %]<br>
                            [% account_rsvp_city %], [% account_rsvp_state %] | [% account_rsvp_zip_code %] [% account_rsvp_country %]</a>
                            </td> 
                        </tr>
                        <tr>
                        <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; color:#BDBD25; font-size:11px; line-height:1.5; text-align:left; padding-top:20px;" class="left">This email was sent to [% member:email %]. <br>
                            <em>Continue receiving our emails, add us to your address book.</em></td>
                    </tr>
                    </table>
                  </div>
                </td>
                <td></td>
              </tr>
            </table>
          </td>
      </tr> 
    </div>
  </div>
</body>
</html>
